input{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline;
}

#pgnum{
    width: 10%;
}

#qText{
    width: 30%;
}

#addQuote{
	display: none;
}
button{
    width: 10%;
    padding: 3px 5px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    cursor: pointer; 

}
select, option, #browse, #add{
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline;
    cursor: pointer; 
}

body{
    text-align: center; 
    font-family: Helvetica;
    background-color: #F8F8FF;
}

.resultDiv{
    padding: 10px;
    margin: 10px;
   	border-radius: 5px;
    background-color: #c5d5cb;
    font-style: italic;
}

h1{
	background-color: #D8BFD8;
	padding: 15px 15px;
    border-radius: 7px;
    opacity: 0.6;
}
